form {
   border: 5px black;
}
body{
   background: no-repeat auto;
   background-image: url("https://ak1.picdn.net/shutterstock/videos/1006774141/thumb/9.jpg?ip=x480") 
   
}
h1{
   size: 150px;
   color: rgb(254, 255, 251);
   background-color: rgb(90, 90, 241);
   text-align: center;
   motion-rotation: reverse;
   opacity: 70%;
}


strong {
   color:black;
}
.log_form{
   
    align-content:middle ;
   overflow: auto ;
   background-color: rgb(26, 141, 241);
   border-radius: 10px;
   border:20px black;
   opacity: 80%;
   border: -40px;
   box-shadow: 10px 10px 10px 10px black;
   font-size: large;
   display: inline-block 200px 200px;
   margin: 200px 400px 200px 400px;
   
}
form :hover{
   color:rgb(235, 15, 52);
}
