body{
   background-color: rgb(0, 0, 0);
   color: aliceblue;
   min-height: 100vh;
   overflow-x: hidden;
   padding: 10px;
}
html{
   scroll-behavior: smooth;
}

.complete-header{
   display: flexbox;
   flex-wrap: wrap;
}

.top-head{
   display: flex;
   flex-wrap: wrap;
}

link{
   display: none;
   text-decoration: none;
}
.display-watch{
   display: flex;
   flex-direction:column;
   align-items: center;
   position: sticky;
}

.time-date{
   display: block;
   position: relative;
   top: 97px;left: 21%;
   
}
.watch-container{
   align-content: center;
   z-index: -100;
}

.watch-container{
   border: 3px solid rgb(245, 247, 248);
   width: 250px;height: 250px;
   display: flexbox;
   flex-shrink: 2;
   justify-content: center;
   align-items: center;
   
   justify-content: center;
   color: #fff;font-size: 32px;
   border-radius: 50%;
   opacity: 0.3;
   background: transparent;
   
}

.blink-colon{
   animation: blink 1s infinite;
}

@keyframes blink{
   0%, 100%{opacity: 1;}
   30%{opacity: 0.4;}
}

.date-container{
   margin-top: 6px;
   font-size: 16px;
   
   color: rgba(255,255,255,0.8);
}

/* Media Selector to be used*/


.logo{
   border-radius: 100%;
   height: 75px;width: 75px;
   
   box-shadow:2px white;
   -webkit-box-reflect: below 2px linear-gradient(transparent,transparent,rgba(0,0,0,0.5));
   
}

#bar{
   position: absolute;
   top: 50px;right: 70px;
   color: white;
   z-index: 100;
}

.hamburger{
   position: absolute;
   top: 20px;right: 20px;
   place-items: center;
   background-color: rgb(16, 17, 16);
}

.hamburger .line{
   display:grid;
   width: 35px;height: 4px;
   background-color: rgb(253, 252, 252);
   transition: all 0.3s;
   
}

.hamburger .line2{
   transform: translateY(-3px);
   background-color: rgb(12, 12, 12);
}

.hamburger .line3{
   transform: translateY(3px);
   background-color: rgb(17, 17, 17);
}

.hamburger .line4{
   transform: translateY(-3px);
   background-color: rgb(252, 247, 247);
   
}

.hamburger .line5{
   transform: translateY(-3px);
   background-color: rgb(12, 12, 12);
}

.hamburger .line6{
   transform: translateY(-3px);
   background-color: rgb(247, 243, 243);
}

.nav{
   z-index: 1;
   width: 100%;height: 100%;
   position: absolute;
   background-color: rgb(27, 27, 27);
   top: 0px;right: 0px;
   clip-path: polygon(45% 10%, 100% 0, 100% 100%, 70% 100%);
   transform: translateX(100%);
   transition: all 0.3s;
}

.nav-list{
   position: absolute;
   right: 15%;top: 50%;
   transform: translateY(-50%);
   list-style: none;
}

.nav-list li{
   transform: translateX(50px);
   opacity: 0;
   transition: all 0.3s;
}

.nav-list li:not(:last-child){
   margin-bottom: 30px;
}

.nav-list li a{
   text-decoration: none;
   font-size: 30px;
   color: #eee;
   position: relative;
   padding: 0px;
}

.nav-list li a::after{
   content: '';
   position: absolute;
   width: 0px;height: 2px;
   background-color: rgb(248, 125, 125);
   bottom: -5px;left: 0;
   transition: all 0.5s;
}

.nav-list li a:hover::after{
   width: 100%;
}

.hamburger.clicked .line{
   background-color: rgb(255, 252, 252);
}

.hamburger.clicked .line1{
   transform: translateY(3px) rotate(-135deg);
}

.hamburger.clicked .line2{
   opacity: 1;
}

.hamburger.clicked .line3{
   transform: translateY(-3px) rotate(135deg);
}
.hamburger.clicked .line4{
   transform: translateY(3px) rotate(-135deg);
}
.hamburger.clicked .line5{
   transform: translateY(-3px) rotate(135deg);
}
.hamburger.clicked .line6{
   transform: translateY(3px) rotate(-135deg);
}

.nav.show{
   transform: translate(0);

}

.nav.show .nav-list li{
   transform: translate(0);
   opacity: 1;
   transition-delay: 0.3s;

}








.main{
   width: auto;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   background: black;
}
.l-s{
   position: absolute;
   top: 40px;
   right: 70px;

}
.btn{
   padding: 7px;
   margin: 5px;
   width: auto;
   height: 100%;
   font-size: 1.3rem;
   text-decoration: none;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 700;
   cursor: pointer;
   border: none;
   border-radius: 5px;
   position: relative;
   
   text-decoration: white;
   z-index: 0;
   border: 1px solid #ffffff;
   background: black;
   overflow: hidden;
   box-shadow: #eee 0px 2px 4px 0px;
   
   
}


.btn:hover::before{
   top: 0px;
   border-radius: 0px;
   text-decoration: none;
}
.btn::before{
   content:'';
   position: absolute;
   top: 60px;
   left: 0px;
   width: 100%;
   height: 100%;
   background: #03f817;
   border-radius: 50% 50% 0 0;
   z-index: -1;
   transition: all 0.5s;
}

.heading{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding: 40px;
   text-decoration:underline;
}

.heading:hover{
   color: #03f817;
}

.tests{
   display: flex;
   flex-wrap: wrap;
}

.phone{
   display: inline;
   width: 264px;
   height: 333px;
   padding: 8px;
   border-radius: 36px;
   background:#b4d5f5;
   box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%),0 30px 60px -30px rgb(0 0 0 / 30%),inset 0 -2px 6px 0 rgb(10 37 64 / 35%);
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}

.phone__card{
   display: grid;
   gap: 0.6rem;
   padding: 0.8rem;
   border: 0.1rem solid #47474d;
   border-radius: 0.2rem;
   margin: 0 0.8rem 0.6rem 0.8rem;
   
}


.phone__skeleton{
   width: 100%;
   height: 1rem;
   border-radius: 0.2rem;
   background-image: linear-gradient(90deg,#6e6ef5 0px,#6e6efc 20px,#7b7bfd 100px);
   background-size: 600px;
   animation: skeleton-loading 2s infinite ease-out;
   cursor: pointer;
}
@keyframes skeleton-loading{
   0%{
      background-position: -100px;
   }
   40%,100%{
      background-position: 200px;
   }
}

.phone__button{
   background-color: #07070e;
   color: #f6f9fc;
   display: grid;
   place-items: center;
   padding: 0.4rem;
   font-size: 0.8rem;
   user-select: none;
   border-radius: 0.2rem;
   margin: 0 0.8rem;
   cursor: pointer;
}

footer{
   position: relative;
   width: auto;
   height: auto;
   padding: 50px 100px;
   background: rgb(29, 28, 28);
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

}

footer .container{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   flex-direction: row;
}

footer .container .set{
   margin-right: 30px;
}

footer .container .set .aboutUs{
   width: 40%;

}

footer .container h2{
   position: relative;
   color: #fff;
   font-weight: 500;
   margin-bottom: 15px;

}

footer .container h2:before{
   content: '';
   bottom: -5px;
   left: 0;
   width: 50px;
   height: 2px;
   background:#f00;

}

footer p{
   color: #999;
}

.set{
   margin-top: 20px;
   display: flex;

}

.set li{
   list-style:none;

}

.set li a{
   display: inline-block;
   width: 40px;
   height: 40px;
   background:#222;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
   text-decoration: none;
   border-radius: 4px;
}

.see li a:hover{
   background-color: rgba(38, 209, 195, 0.445);
   border: 3px red;
   border-radius: 7px;
}

.see li a .fa{
   color: #fff;
   font-size: 20px;

}

.quickLinks{
   position: relative;
   width: 25%;
}

.quickLinks ul li{
   list-style: none;

}

.quickLinks ul li a{
   color: #999;
   text-decoration: none;
   margin-bottom: 10px;
   display: inline-block;

}

.quickLinks ul li a:hover{
   color: #fff;

}

.contact{
   width: calc(35% - 60px);
   margin-right: 0 !important;

}

.contact .info{
   position: relative;

}

.contact .info li{
   display: flex;
   margin-bottom: 16px;

}

.contact .info li span:nth-child(1){
   color: #fff;
   font-size: 20px;
   margin-right: 10px;

}

.contact .info li span{
   color:#999;
}

.contact .info li a{
   color: #999;

}

.contact .info li a{
   color: #999;
   text-decoration: none;

}

.contact .info li a:hover{
   color: #fff;
}

.copyrightText{
   width: auto;
   background-color: #141414;
   padding: 8px 100px;
   text-align: center;
   color: #999;

}

@media (max-width:991px){
   footer{
      padding: 0px;
   }
   footer .container .set{
      margin-right: 0;
      margin-bottom: 40px;
   }
   .set .aboutUs , .quickLinks, .contact{
      width: 100%;
   }
   .copyrightText{
      padding: 8px 40px;
   }
}