:root{
   --ff-primary:'Source Sans Pro',sans-serif;
   --fw-bold:600;
   --clr-dark:#303030;
   --clr-accent: #16e0bd;
   --fs-h2: 1.25rem;
}

@media (max-width:800px){
   :root{
      --fs-h2: 1.75rem;
      --fs-body: 1.125rem;
      --speed: 300px;
      --fw-bold: 900;
   }
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: #161616;
   color: white;
   margin: 0;
   font-family: var(--ff-primary);
   font-size: var(--fs-body);
   line-height: 1.6;
   font-family: 'Times New Roman', Times, serif;
   display: grid;
   font-weight: 300;
   background-image: url(login_image.jpg);
   background-size: cover;
}


p{
   margin-top: 250px;
   color: #fff;
   text-align: center;
}
header{
   top: 0;
   position: fixed;
   width: 100%;
}
.nav_list{
   list-style: none;
   display: flex;
   height: 100%;
   justify-content: space-evenly;
   margin: 0;
   padding: 8px;
   background-color: rgb(240,240,20);
}

.nav_link:hover{
   color: var(--clr-accent);
}
.nav-toggle{
   position: absolute;
}
.label{
   position: relative;
   margin-right: -410px;
}
.nav-item{
   color: #111;
}
@media(max-width:800px){
   .nav{
      display: flex;
      justify-content: center;
      position: fixed;
      background: var(--clr-dark);
      color: var(--clr-light);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(.5,0,.5,1);
   }
   .nav_list{
      list-style: none;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
      background-color: transparent;
   }
   .nav_link{
      color: inherit;
      font-weight: var(--fw-bold);
      font-size: var(--fs-h2);
      text-decoration: none;
   }
   .nav_link:hover{
      color: var(--clr-accent);
   }
   .nav-toggle{
      padding: 0.5em;
      background: transparent;
      border: 0;
      cursor: pointer;
      right: 1em;
      top: 1em;
      z-index: 1000;
      outline: none;
   }
   .nav-open .nav{
      transform: translateX(0);
   }
   .nav-open .nav-toggle{
      position: fixed;
   }
   .nav-open .hamburger{
      transform: rotate(0.625turn);
   }
   .nav-open .hamburger::before{
      transform: rotate(90deg) translateX(-6px);
   }
   .nav-open .hamburger::after{
      opacity: 0;
   }
   .hamburger{
      display: block;
      position: relative;
   }
   .hamburger,.hamburger::before,.hamburger::after{
      background: var(--clr-accent);
      width: 2em;
      height: 3px;
      border-radius: 1em;
      transition: transform 250ms ease-in-out;
   }
   .hamburger::before,.hamburger::after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
   }
   .hamburger::before{
      top: 6px;
   }
   .hamburger::after{
      bottom: 6px;
   }
   label{
      position: relative;
      margin: 2px;
   }
}

.modal-dialog-centered{
   border: 2px solid rgb(248, 173, 173);
}

.image{
   position: absolute;
   top: 20px;
   height: 100%;
   width: 100%;
   z-index: -3;
   
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.logo{
   height: 70px;
   width: 70px;
   position: relative;
   top: 20px;
   z-index: 5;
   border-radius: 50%;
}

.nav_text{
   position: relative;
}

@import url('https://fonts.googleapis.com/css?family=poppins:400,500,600,700,800,900');

.icons{
   display: inline-flex;
   flex-wrap: wrap;
   justify-content: center;
   -ms-flex-item-align: center;
}

.fa-instagram ,.fa-linkedin, .fa-github ,.fa-twitter{
   font-size: 50px;
   display: flex;
   flex-wrap: wrap;
}

.icons a{
   margin: 0 25px;
   text-decoration: none;
   display: inline-flex;
   color: #fff;
   display: flexbox;
   position: relative;
   margin: 50px;
}

.icons a .layer{
   width: 55px;
   height: 55px;
   transition: transform 0.3s;
}

.icons a:hover .layer{
   transform: rotate(-35deg) skew(20deg);
}

.icons a .layer span{
   position: absolute;
   bottom: 0px;
   height: 100%;
   width: 100%;
   border: 1px solid #fff;
   border-radius: 5px;
   transition: all 0.3s;
}

.icons a .layer span.fab{
   font-size: 50px;
   line-height: 55px;
   text-align: center;
}


.icons a:hover .layer span:nth-child(1){
   opacity: 0.2;
}

.icons a:hover .layer span:nth-child(2){
   opacity: 0.4;
   transform: translate(5px,-5px);
}

.icons a:hover .layer span:nth-child(3){
   opacity: 0.6;
   transform: translate(10px,-10px);
}

.icons a:hover .layer span:nth-child(4){
   opacity: 0.8;
   transform: translate(15px,-15px);
}

.icons a:hover .layer span:nth-child(5){
   opacity: 1;
   transform: translate(20px,-20px);
}

.icons a:nth-child(1) .layer span , .icons a:nth-child(1) .text{
   color: #426782;
}
.icons a:nth-child(1) .layer span , .icons a:nth-child(2) .text{
   color: #16e64a;
}

.icons a:nth-child(1) .layer span , .icons a:nth-child(3) .text{
   color: #c41e9a;
}

.icons a:nth-child(1) .layer span , .icons a:nth-child(4) .text{
   color: #1e76b4;
}

.icons a:nth-child(1) .layer span , .icons a:nth-child(1) .text{
   box-shadow: -1px 1px 3px #426782;
}
.icons a:nth-child(2) .layer span , .icons a:nth-child(2) .text{
   box-shadow: -1px 1px 3px #14f339;
}

.icons a:nth-child(3) .layer span , .icons a:nth-child(3) .text{
   box-shadow: -1px 1px 3px #b41a86;
}

.icons a:nth-child(4) .layer span , .icons a:nth-child(4) .text{
   box-shadow: -1px 1px 3px #2878b1;
}

.icons a .text{
   position: absolute;
   left: 50%;
   bottom: -5px;
   opacity: 0;
   transform: bottom 0.3s ease, opacity 0.3s ease;
}

.icons a:hover .text{
   bottom: -25px;
   opacity: 1;
}



